body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAF2;
  }
  
  header {
    background-color: #FFC0C7;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  #slideshow {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slide {
    display: none;
  }
  
  .slide.ativo {
    display: block;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .produto {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .produto img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #ec7480;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffa1ac;
  }
  
  footer {
    text-align: center;
    background: #ec7480;
    color: white;
    padding: 10px 0;
  }

  #produtos h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
  }