/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

#searchBar {
    padding: 5px;
    width: 300px;
}

#cartLink {
    color: white;
    text-decoration: none;
}

/* Logo */
.logo {
    text-align: center;
    margin: 20px 0;
}

.logo img {
    width: 200px;
}

/* Informações da loja */
.store-info {
    text-align: center;
    padding: 20px;
}

/* Botões de categorias */
.product-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}